/*!
 *  Made with ♡ by IDO
 *  prodbyido.github.io
 *  License: Apache-2.0 license
 */
 
/*!
 *   ______   ____     _____      
 *  /\__  _\ /\  _`\  /\  __`\    
 *  \/_/\ \/ \ \ \/\ \\ \ \/\ \   
 *     \ \ \  \ \ \ \ \\ \ \ \ \  
 *      \_\ \__\ \ \_\ \\ \ \_\ \ 
 *      /\_____\\ \____/ \ \_____\
 *      \/_____/ \/___/   \/_____/
 *  
 */

/* Wrapper */

	#wrapper {
		opacity: 1 !important;
	}

/* Overlay */

	#overlay {
		opacity: 1 !important;
	}

/* Header */

	#header {
		opacity: 1 !important;
	}

		#header nav li {
			opacity: 1 !important;
		}